.app_sct1 {
	min-width: 1200px;
	height: 300px;
	color: #fff;
	background-color: #bdbdbd
}
.app_sct1, .app_sct1 .container {
	text-align: center;
	position: relative
}
.app_sct1 .container {
	overflow: inherit
}
.app_sct1-bgimg {
	position: absolute;
	width: 100%;
	left: 0;
	height: 100%
}
.app_sct1-title {
	padding-top: 150px;
	font-size: 46px;
	margin-bottom: 12px
}
.app_sct1-txt {
	font-size: 18px;
	line-height: 28px
}
.app_sct2 {
	min-width: 1200px;
	text-align: center
}
.app_sct2-wrapper {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: left
}
.app_sct2-app, .app_sct2-wrapper {
	margin-top: 63px;
	vertical-align: middle
}
.app_sct2-app {
	width: 280px;
	height: 457px;
	margin-right: 116px
}
.app_sct2-title {
	font-size: 16px;
	line-height: 16px;
	color: #303030;
	margin-bottom: 31px
}
.app_sct2-qrcode {
	width: 128px;
	height: 128px;
	padding: 4px;
	border: 1px solid #e2e2e2;
	margin-right: 30px;
	vertical-align: middle
}
.app_sct2-links {
	vertical-align: middle;
	margin-bottom: -28px
}
.app_sct2-icon, .app_sct2-links {
	display: inline-block;
	*display: inline;
	*zoom: 1
}
.app_sct2-icon {
	margin-right: 20px;
	color: #9b9b9b;
	font-size: 28px;
	line-height: 50px
}
.app_sct2-download {
	display: block;
	border: 1px solid #b6b6b6;
	border-radius: 6px;
	width: 194px;
	padding-left: 32px;
	margin-bottom: 28px
}
.app_sct2-txt {
	font-size: 22px;
	line-height: 50px;
	color: #9b9b9b
}
.app_sct3 {
	min-width: 1200px;
	background-color: #fafafa;
	text-align: center;
	padding: 95px 0 0;
	position: relative;
	height: 780px
}
.app_sct3-title {
	font-size: 36px;
	line-height: 41px;
	color: #303030;
	margin-bottom: 27px
}
.app_sct3-txt {
	font-size: 16px;
	line-height: 28px;
	color: #4a4a4a
}
.app_sct3-banner {
	position: absolute;
	height: 647px;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0
}
.app_sct4 {
	min-width: 1200px;
	background-color: #fff
}
.app_sct4-wrapper {
	margin-top: 115px;
	border-top: 1px solid #ddd;
	position: relative;
	text-align: center;
	font-size: 0
}
.app_sct4-title {
	font-size: 36px;
	line-height: 41px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	top: -21px;
	padding: 0 24px;
	background-color: #fff
}
.app_sct4-list {
	margin: 52px auto 0;
	padding-left: 71px;
	text-align: left
}
.app_sct4-item {
	margin-top: 22px
}
.app_sct4-img {
	width: 300px;
	height: 200px;
	vertical-align: middle;
	margin-right: 163px
}
.app_sct4-itemwrapper {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	text-align: left
}
.app_sct4-ititle {
	color: #303030;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 14px
}
.app_sct4-itxt {
	color: #666;
	font-size: 14px;
	line-height: 24px
}
.app_sct4-link_blue {
	color: #4a90e2
}
.app_sct4-link {
	display: none;
	color: #f60;
	font-size: 14px;
	line-height: 17px;
	margin-top: 20px
}
.app_sct5 {
	min-width: 1200px;
	background-color: #fff
}
.app_sct5-wrapper {
	margin: 112px auto 187px;
	border-top: 1px solid #ddd;
	text-align: center
}
.app_sct5-info_title {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	top: -21px;
	font-size: 36px;
	line-height: 42px;
	color: #303030;
	padding: 0 24px;
	background-color: #fff
}
.app_sct5-info_content {
	font-size: 18px;
	line-height: 20px;
	color: #4a4a4a
}
.app_sct5-lists {
	margin-top: 50px;
	margin-right: -25px;
	font-size: 0
}
.app_sct5-recm {
	position: absolute;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	top: 0;
	right: 0;
	width: 62px;
	height: 62px
}
.app_sct5-img {
	height: 32px;
	margin-right: 15px;
	vertical-align: top
}
.app_sct5-list {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	width: 383px;
	height: 420px;
	margin-right: 25px;
	background-color: #fafafa;
	position: relative
}
.app_sct5-list-title {
	font-size: 24px;
	color: #303030;
	line-height: 28px;
	margin-top: 36px
}
.app_sct5-list-txt {
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	color: #979797
}
.app_sct5-footer {
	position: absolute;
	display: none;
	width: 100%;
	padding: 0 32px;
	bottom: 0
}
.app_sct5-items {
	margin: 20px 32px;
	padding: 30px 0 25px;
	border-top: 1px dashed #ddd
}
.app_sct5-item {
	text-align: left;
	padding: 0 18px;
	position: relative
}
.app_sct5-item-dot {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 18px;
	line-height: 32px
}
.app_sct5-item-title {
	font-size: 18px;
	line-height: 32px;
	color: #4a4a4a
}
.app_sct5-item-txt {
	font-size: 12px;
	line-height: 24px;
	margin-top: 20px;
	padding: 0 10px;
	text-align: left;
	color: #979797
}
.app_sct5-fee {
	padding-top: 20px;
	border-top: 1px dashed #ddd
}
.app_sct5-fee-num {
	font-size: 24px;
	line-height: 32px;
	color: #ff5800
}
.app_sct5-fee-unit {
	font-size: 14px;
	line-height: 32px;
	color: #5c5c5c
}
.app_sct5-btnlink {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 20px auto 46px;
	width: 142px;
	font-size: 14px;
	line-height: 42px;
	color: #fff;
	background-color: #f60
}
html[lang=en] .app_sct5-list-txt {
	height: 40px;
	overflow: hidden
}